@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Manrope:wght@200..800&display=swap");
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--dark-1) !important;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6 !important;
  font-family: "Manrope", apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--white);
  
}
:root {
  --pink: #f3e1d9;
  --dark-1: #0a0a0a;
  --grey-1: #383838;
  --primary: #00ff77;
  --purple: #ff3b00;
  --base-scale3d: scale3d(1, 1, 1);
  --base-translate3d: translate3d(0, 0, 0);

  --primary-curve: cubic-bezier(0.62, 0.05, 0.01, 0.99);
  --white: #fff;
  --dark-grey:#ffffff40;
  --light-grey:#ffffff80;
  --lighter-grey:#ffffff80;
}
/* html {
  font-size: 62.5%;
} */
.hide {
  overflow: hidden;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.slider {
  left: 0;
  /* top:0; */
}

.background_line {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.25) 100%
  );
}
.text_background {
  background-image: linear-gradient(
    225deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.25) 100%
  ); 
  background-clip: text;
  /* background-clip: text;
  /* display: inline-block; */
  /* -webkit-text-fill-color: transparent; */
  color: var(--lighter-grey);
}

.line {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 8px;
  width: fit-content !important;
  overflow: hidden;
}
.titleRef.titleRef2 .line {
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
}
.titleRef .line {
  gap: 10px !important;
  /* column-gap: 10px !important; */
}
.hero_text2 .line {
  gap: 4px !important;
}
h4 .line {
  row-gap: 12px !important;
  column-gap: 12px !important;
}
.hero_text_3 .line {
  justify-content: flex-end !important;
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
label {
  width: 100%;
}
input,
textarea {
  background-color: transparent !important;
  color: #fff;
  width: 100%;
  border: none;
  outline: none;
}
@media (max-width: 580px) {
  .titleRef .line {
    gap: 7px !important;
  }
  .line {
    gap: 12px !important;
  }
}
